.margin-bottom-xs {
	margin-bottom: 3px !important;
}

.margin-bottom-sm {
	margin-bottom: 6px !important;
}

.margin-bottom-md {
	margin-bottom: 15px !important;
}

.margin-bottom-lg {
	margin-bottom: 30px !important;
}

.green {
	color: #5cb85c;
}

.red {
	color: #d9534f;
}

.gray {
	color: gray;
}
