/.laradock/data
/build
/node_modules
/public/css
/public/fonts
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/public/vendor
/storage/*.key
/storage/dotenv-editor
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
