language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1

install:
  - composer install --prefer-dist --no-interaction
  - mysql -u root -e "create database webloyer_test"

script:
  - mkdir -p build/logs
  - phpunit

after_success:
  - travis_retry php vendor/bin/coveralls
