<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Laravel">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="Webloyer">
            <directory suffix="Test.php">./packages/webloyer/tests</directory>
        </testsuite>
        <testsuite name="IdentityAccess">
            <directory suffix="Test.php">./packages/identity_access/tests</directory>
        </testsuite>
        <testsuite name="Common">
            <directory suffix="Test.php">./packages/common/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <exclude>
                <directory>./app/Providers</directory>
                <directory suffix="Interface.php">./app</directory>
                <file>./app/Console/Commands/Inspire.php</file>
                <file>./app/Console/Kernel.php</file>
                <file>./app/Events/Event.php</file>
                <file>./app/Exceptions/Handler.php</file>
                <file>./app/Http/Controllers/Auth/AuthController.php</file>
                <file>./app/Http/Controllers/Auth/PasswordController.php</file>
                <file>./app/Http/Controllers/Controller.php</file>
                <file>./app/Http/Controllers/HomeController.php</file>
                <file>./app/Http/Controllers/WelcomeController.php</file>
                <file>./app/Http/Kernel.php</file>
                <file>./app/Http/Middleware/Authenticate.php</file>
                <file>./app/Http/Middleware/RedirectIfAuthenticated.php</file>
                <file>./app/Http/Middleware/VerifyCsrfToken.php</file>
                <file>./app/Http/Requests/Request.php</file>
                <file>./app/Http/breadcrumbs.php</file>
                <file>./app/Http/routes.php</file>
                <file>./app/Jobs/Job.php</file>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:pMhsdiMZNN3ummMKgvJ/0efi7GheB8ybVGcMiDrqEhA="/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_DATABASE" value="webloyer_test"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value=""/>
    </php>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
